<h1><%= @theatre.name %></h1>

<ul>
  <li><%= @theatre.website %></li>
  <li><%= @theatre.address %></li>
  <li><%= @theatre.phone %></li>
  <li><%= @theatre.description %></li>
</ul>

<div>
  <h2>Current Plays</h2>
  
</div>

<%= link_to "Back to Theaters", theatres_path %>
